@import "../styles/common.scss";

.navigator-menu {
    display : flex;
    margin  : 0;
    padding : 0;
    position: relative;

    &.list-unstyled,
    .list-unstyled {
        list-style-type: none;
    }

    .menu-group {
        position: relative; // Cần có để submenu có thể được hiển thị ở vị trí tuyệt đối

        &:hover {
            cursor          : pointer;
            background-color: #009dff;
            color           : #ffff;
        }

        .menu-group-name {
            line-height : 40px;
            padding     : 0 15px;
            border-right: 1px solid $border;

            &:first-child {
                border-left: 1px solid $border;
            }
        }

        .menu-list {
            display           : none;
            background-color  : $bg-menu-color;
            box-shadow        : 2px 2px 4px 0 $box-shadow-color;
            -webkit-box-shadow: 2px 2px 4px 0 $box-shadow-color;
            color             : $text-in-light;
            position          : absolute;
            top               : 0;
            left              : 100%; // Đảm bảo submenu hiển thị bên phải menu chính
            width             : max-content; // Kích thước của submenu
            padding           : 0;
            z-index           : 2000; // Đảm bảo submenu không bị che bởi các phần tử khác


            .menu {
                width         : 100%;
                padding       : 0 15px;
                height        : 35px;
                line-height   : 35px;
                text-transform: none;

                &.active {
                    background-color: rgb(231, 231, 231);

                    a {
                        color      : orange;
                        font-weight: 600;
                    }
                }

                .menu-link {
                    text-decoration: none;
                    color          : $text-in-light;
                }

                .sub-menu-list {
                    display         : none;
                    background-color: $bg-menu-color;
                    box-shadow      : 2px 2px 4px 0 $box-shadow-color;
                    position        : absolute;
                    top             : 0;
                    left            : 100%;
                    padding         : 0;

                    .sub-menu {
                        padding    : 0 15px;
                        height     : 35px;
                        line-height: 35px;
                        white-space: nowrap;

                        &:hover {
                            background-color: darken($bg-menu-color, 5);
                        }

                        .sub-menu-link {
                            text-decoration: none;
                            color          : $text-in-light;
                        }

                        a {
                            display: block;
                        }

                        &.active a {
                            font-weight: 500;
                            color      : $colormain;
                        }
                    }
                }

                &:hover {
                    background-color: #74f0fc;

                    .sub-menu-list {
                        display: block;
                    }
                }

                .icon-right {
                    display : block;
                    position: absolute;
                    top     : 0;
                    right   : 10px;
                }
            }
        }

        &:hover .menu-list {
            display: block; // Hiển thị menu con khi hover
        }
    }
}