.home-header-container {
    //height  : 60px;
    width   : 100%;
    position: sticky;
    top     : 0;
    z-index : 100000;

    .home-header-content {
        width  : 100%;
        height : 60px;
        display: flex;
        padding: 0 30px;

        //z-index         : 10000;
        background-color: #fff;

        .left-content {
            width      : 25%;
            display    : flex;
            align-items: center;

            .header-logo {
                background     : url('../../assets/logo.png') center center no-repeat;
                background-size: 80%;
                width          : 100%;
                height         : 100%;
                cursor         : pointer;
            }

            i {
                font-size: 25px;
                color    : gray;
                cursor   : pointer;
            }
        }

        .center-content {
            width          : 50%;
            display        : flex;
            justify-content: space-between;
            align-items    : center;

            .child-content {
                .subs-title {
                    font-weight: 300;
                    font-size  : 12px;
                }
            }
        }

        .right-content {
            width          : 25%;
            display        : flex;
            align-items    : center;
            justify-content: center;

            .support {
                display      : flex;
                align-items  : center;
                padding-right: 10%;
                cursor       : pointer;

                &:hover {
                    color: #74f0fc;
                }

                i {
                    color       : #74f0fc;
                    font-size   : 20px;
                    margin-right: 5px;
                }
            }

            .language-vi {
                cursor : pointer;
                opacity: 0.3;

                &.active {
                    opacity: 1;
                    color  : rgb(231, 33, 33);
                }

                &:hover {
                    opacity: 1;
                }
            }

            .language-en {
                margin : 0 10px;
                cursor : pointer;
                opacity: 0.3;

                &.active {
                    opacity: 1;
                    color  : rgb(33, 69, 231);
                }

                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}

.home-header-banner {
    background         : url('../../assets/header-banner.webp');
    height             : 490px;
    background-repeat  : no-repeat;
    background-size    : contain;
    background-position: center;
    display            : flex;
    flex-direction     : column;

    .content-up {
        height     : 50%;
        padding-top: 15px;

        .banner-tag {
            text-align   : center;
            font-size    : 30px;
            text-shadow  : 1px 1px 1px #333;
            color        : rgb(0, 153, 255);
            margin-bottom: 5px;
            margin-top   : 30px;
        }

        .banner-title {
            text-align   : center;
            font-size    : 35px;
            text-shadow  : 1px 1px 1px #333;
            color        : rgb(13, 83, 129);
            margin-bottom: 15px;
        }

        .banner-search {
            width          : fit-content;
            display        : flex;
            justify-content: center;
            align-items    : center;
            margin         : 0 auto;
            padding        : 10px;
            border-radius  : 25px;
            background     : #ffff;

            i {
                margin: 0 5px;
            }

            input {
                height    : 30px;
                width     : 400px;
                background: transparent;
                border    : none;
                outline   : none;
            }
        }
    }

    .content-down {
        height         : 50%;
        align-items    : flex-end;
        display        : flex;
        justify-content: center;
        padding-bottom : 10px;

        .banner-options {
            display           : flex;
            // justify-content: center;
            grid-gap          : 40px;

            .option-child {
                width            : 150px;
                height           : 150px;
                text-align       : center;
                background       : #fff;
                flex-direction   : column;
                align-items      : center;
                justify-content  : space-evenly;
                //margin         : auto;
                position         : relative;
                padding          : 18px 17px 16px;
                border-radius    : 16px;
                border           : 1px solid transparent;
                transition       : all .15s ease-in;
                box-shadow       : 1px 1px 1px #d1cece;


                .icon-child {
                    // background   : white;
                    // width        : 40px;
                    // height       : 40px;
                    // padding      : 10px;
                    // border-radius: 50%;
                    // text-align   : center;
                    // margin       : 0 auto;
                    //padding: 15px 0;
                    cursor: pointer;

                    i {
                        font-size: 40px;
                        color    : #49bce2;
                    }
                }

                .text-child {
                    font-size  : 19px;
                    font-weight: 500;
                    cursor     : pointer;
                    margin-top : 15px;

                    &:hover {
                        color: #49bce2;
                    }
                }
            }
        }
    }
}

.distance-between {
    background: linear-gradient(180deg, #fff, #ebf2ff);
    height    : 68.15px;
}